.main-container{
    padding: 1vh 6vw;
    background-color: rgb(250,250,250);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainn {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 2vw;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    color: gray;
    padding: 0vh 1vw;
    font-size: 1vw;
}