.main-container {

    background:blueviolet;
    display:flex;
    width: 100%;
    height: 60px;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    

}

.brand {
    /*margin-left: 10rem;*/
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    
}

#mainn {
    text-decoration: none;
    color: rgb(255, 102, 0);
}

nav ul {

    list-style: none;
    display: flex;
    /*margin-right: 10rem;*/
    float:right;
    width:100%;
    justify-content: flex-end;
    /*align-items:flex-start;*/
    
}



nav ul li {

    
    padding: 1.5rem;
    position: relative;
    letter-spacing: 2px;
    color: white;
    border-style:solid;
    border-color:blueviolet blueviolet blueviolet blueviolet
    

}

nav ul li:hover {
    color:skyblue;
    border-color: blueviolet blueviolet skyblue blueviolet;
}